body {
    margin: 0;
    background: darkgray;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#verticalButtons {
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
    margin: 2px;
    cursor: pointer;
}

button:hover {
    background: blue;
}

#networkCanvas {
    background: black;
}

#carCanvas {
    background: lightgray;
}

#info_div {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40%;
    background-color: white;
    height: 100%;
    justify-content: center;
    padding: 15px;
}

.sim_div {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    width: 50%;
}