body {
  margin: 0;
  background: darkgray;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#verticalButtons {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 10px;
}

button {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.btn_save {
  background: url("images/floppy-disk-solid-full.svg") no-repeat;
  background-color: white;
}

.btn_delete {
  background: url("images/trash-solid-full.svg") no-repeat;
  background-color: white;
}

.btn_save:hover {
  color: blue;
}

#networkCanvas {
  background: black;
}

#carCanvas {
  background: lightgray;
}

#info_div {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: white;
  height: 100%;
  justify-content: center;
  padding: 15px;
}

.sim_div {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  width: 50%;
}
